#services {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;

}

.service-btn {
  background: DarkSlateBlue;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-btn:hover {
  background: LightCyan;
  color: #7a96ff;
  border: 2px solid DodgerBlue;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(122, 150, 255, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: LightCyan;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    flex-direction: column;
  }
}

.contact-box {
  position: fixed;
  bottom: 142.8px;
  right: 20px;
  width: 150px;
  height: 150px;
  background: DarkSlateBlue;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: white;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.contact-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contact-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.contact-box:hover {
  background: LightCyan;
  border: 2px solid DodgerBlue;
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(122, 150, 255, 0.5);
}

.contact-box:hover .contact-icons {
  opacity: 1;
  transform: scale(1);
}


.contact-box:hover .contact-text {
  display: none;
}

.contact-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.contact-icon img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-left: 25px;
}

.contact-icon:hover {
  transform: scale(1.1);
}


.services {
  min-height: calc(100vh - 223px) !important;
}