<section class="home">
  <div class="top-content">
    <div class="profile-container">
      <img src="assets/homepic.png" alt="Profile Image" class="profile-image" />
    </div>
    <div class="text-container">
      <h1 class="typing-text">
        I'm 
        <span class="highlight" [@fadeInOut]="fadeState">{{ sentence }}</span>
      </h1>
    </div>
  </div>

  <div class="bottom-box">
    <div class="box-content">
      <h1 style="color: #7a96ff; font-weight: 900">I'm Saad Hassan</h1>
      <p>
        A dynamic and highly skilled Software Engineer with a strong focus on
        Full Stack Development, specializing in the MEAN (MongoDB, Express.js,
        Angular, Node.js) stack. With years of experience building scalable web
        applications, I bring expertise in crafting intuitive front-end
        interfaces and robust back-end systems.
      </p>
      <p>
        As an Instructor in Web Development, I am passionate about mentoring
        aspiring developers, simplifying complex concepts, and fostering a
        culture of learning and innovation. Let's collaborate to turn your ideas
        into impactful digital solutions and achieve excellence in software
        engineering!
      </p>
    </div>
  </div>
</section>
